#project-menu {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #2a2a40;
  border-radius: 12px;
}

/* buttons */
.project-select {
  border: none;
  padding: 10px 16px;
  border-radius: 999px;
  background-color: #3a3a55;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.project-select:hover {
  background-color: #5c6cff;
}

/* active button (we’ll use this in JS) */
.project-select.active {
  background-color: #5c6cff;
}

#projects-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 14px;
}

#projectDisplay {

  border-radius: 12px;
  margin-top: 15px;
  padding: 20px;
}
#projectDisplay {
  display: flex;
  gap: 30px;
  background-color: white;
  border-radius: 12px;
  margin-top: 15px;
  padding: 20px;
}

.project-text {
  flex: 1;
}

.project-image-area {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image-area img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 12px;
  object-fit: cover;
}